<table class="table the-table table-striped table-hover table-condensed falsePositive" id="falsePositive_table" data-refresh-endpoint="/falsePositives/_table">
  <thead>
    <tr>
    <th colspan="6">
      <div class="pull-right">
        <input type="text" id="quick_filter" class="form-control input-sm quick-filter" placeholder="Quick filter...">
      </div>
    </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Repository</th>
      <th>Path</th>      
      <th>Fingerprint</th>
      <th>Comment</th>
      <th></th>
      <th></th>
    </tr>
    <% @falsePositive.each do |fp| %>
      <tr class="blob-row">
        <td><%=fp.repository%></td>
        <td><%=fp.path%></td>      
        <td><%=fp.fingerprint[0,6]%>...<%=fp.fingerprint[58,64]%></td>
        <td><%=fp.comment%></td>
        <td class="blob-size">
          <a class="btn btn-default btn-xs glyphicon glyphicon-edit edit-fingerprint" title="Edit comment" data-toggle="tooltip" data-placement="bottom" href="#" data-assessment-id="<%=h fp.id%>"></a>
        </td>
        <td class="blob-size">
          <a class="btn btn-default btn-xs glyphicon glyphicon-trash delete-fingerprint" title="Delete fingerprint" data-toggle="tooltip" data-placement="bottom" href="#" data-assessment-id="<%=h fp.id%>"></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
